<h1>Track Your Finances</h1>
<p>Welcome to FinanceMe Where you can search up with a click of a button everythin finance relateds</p>

<%= link_to 'Sign out',  destroy_user_session_path, method: :delete %>